/**
 * 全体で使うscss用変数
 */

$breakpoint-tablet: 960px;
$breakpoint-sp: 600px;

//coler
$mainBlue: #0073E6;
$subYellow: #F0E68C;

// $mainWhite: #fff;
// $mainBlack: #000;
// $mainGold: #807740;
// $backGray: #f7f7f7;
// $borderGray: #ddd;
// $anchorBlue: #0074e0;
// $anchorHoverBackBlue: #f4ffff;
// $shadowHoverBlue: #5baae4;
// $LightBlue: #87c3e8;
// $cloudBlue: #e6f7ff;
// $backrBlue: #def;
// $mainOrange: #ffb36b;
// $LightOrange: #fffbf4;
// $cloudYellow: #fff9e5;
// $sideBarBlue: #439bd2;
// $sideBarRed: #ee091e;
// $sideBarGreen: #1fb9a3;
// $sideBarOrange: #f9813b;
// $sideBarOceanBlue: #307DE2;
// $submitGreen: #27c24c;
// $fontBlack: #333;
// $footerGray: #21282e;
// $footerFontGray: #9dacb9;


// sns
$twitterBlue: #00acee;
$facebookBlue: #3B5998;
